// Import Layouts
@use "./helpers//layouts/style" as *;
// Import mixins
@use "./helpers/mixins/style" as *;


/* Global Variables */
:root {
    --champagne-pink_20: hsla(23, 61%, 86%, 0.2);
    --independence_30: hsla(245, 17%, 29%, 0.3);
    --gray-x-11-gray: hsl(0, 0%, 73%);
    --champagne-pink: hsl(23, 61%, 86%);
    --sonic-silver: hsl(0, 0%, 47%);
    --deep-saffron: hsl(32, 100%, 59%);
    --dark-orange: hsl(28, 100%, 58%);
    --desert-sand: hsl(23, 49%, 82%);
    --isabelline: hsl(38, 44%, 96%);
    --cinnabar: hsl(3, 90%, 55%);
    --black_95: hsla(0, 0%, 0%, 0.95);
    --onyx: hsl(0, 0%, 27%);

    --ff-shadows-into-light: 'Shadows Into Light', cursive;
    --ff-rubik: 'Rubik', sans-serif;

    --shadow-1: 0 1px 4px hsla(0, 0%, 0%, 0.2);
    --shadow-2: 0 1px 2px hsla(0, 0%, 0%, 0.2);
    --input-shadow-1: 0 0px 2px hsla(0, 0%, 0%, 0.2);
    --input-shadow-1-focus: 0 0px 3px var(--deep-saffron);

    --section-padding: 100px;

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
}

/* Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar {
    width: 15px;
    &-thumb {
        background: var(--deep-saffron);
        &:hover {
            background: var(--dark-orange);
        }
    }
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: white;
    color: var(--sonic-silver);
    font-family: var(--ff-rubik);
    line-height: 1.6;
}
::selection {
    background-color: var(--deep-saffron);
    color: white;
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.back-top-btn {
    color: white;
    background-color: var(--deep-saffron);
    box-shadow: var(--shadow-1);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom:  20px;
    right: 20px;
    z-index: 99;
    cursor: pointer;
    transform: translateY(7px);
    opacity: 0;
    transition: var(--transition-2);
    &:hover {
        background-color: black;
    }
}
.show-back-top-btn {
    transform: translateY(0);
    opacity: 1;
}
section {
    padding: var(--section-padding) 0;
}
a {
    text-decoration: none;
    color: inherit;
}
input:focus,
select:focus,
textarea:focus {
    outline: none;
}
button {
    user-select: none;
}
img {
    user-select: none;
    max-width: 100%;
}
.logo {
    font-size: 18px;
    letter-spacing: -1.3px;
    @include break-points(small) {
        font-size: 1rem;
    }
    span {
        display: inline-block;
        width: 4px;
        height: 4px;
        background-color: var(--deep-saffron);
    }
}
.main-btn {
    display: block;
    cursor: pointer;
    padding: 9px 30px;
    color: white;
    background-color: var(--deep-saffron);
    position: relative;
    overflow: hidden;
    z-index: 1;
    &::before {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: black;
        position: absolute;
        left: -10px;
        bottom: -20px;
        transition: var(--transition-1);
        z-index: -1;
    }
    &:hover::before {
        transform: scale(20);
    }
}

.head {
    margin-bottom: 40px;
    text-align: center;
    h1 {
        color: black;
        font-size: 2.2rem;

        span {
            color: var(--deep-saffron);
        }
    }

    h4 {
        color: var(--cinnabar);
    }
}

label:not(.small,.medium,.large) {
    display: flex;
    flex-direction: column;
    color: var(--black_95);
    font-weight: 500;
    input {
        padding: 10px;
        border: none;
        border-radius: 5px;
        box-shadow: var(--input-shadow-1);
        transition: var(--transition-1);
        &:focus {
            box-shadow: var(--input-shadow-1-focus);
        }
    }
}
hr {
    margin: 15px 0;
}

.err-msg {
    height: 20px;
    color: red;
    font-size: .8rem !important;
    font-weight: normal;
}

.success-operation {
    text-align: center;
    color: black;
    overflow: hidden;
    img {
        animation: success-operation .8s .4s ease-in forwards;
        width: 50%;
    }
    display: none;
}
.show {
    display: block;
}
.hide {
    display: none;
}

.main-form {
    color: black;
    .date, 
    .time {
        width: 100%;
    }
    h2 {
        margin-bottom: 10px;
    }
    p {
        span {
            font-weight: 500;
            text-transform: capitalize;
        }
    }
    .name {
        .input-group {
            display: flex;
            gap: 2%;
            input {
                width: 49%;
            }
        }
    }
    .order-details {
        p {
            font-size: 1.1rem;
        }
        .order-size {
            display: flex;
            @media (max-width: 600px) {
                flex-direction: column;
            }
            label {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;
                input[type="number"] {
                    width: 15%;
                    text-align: center;
                    border-radius: 3px;
                    border: 1px solid var(--onyx);
                    @media (min-width: 600px) {
                        width: 20%;
                    }
                    @media (min-width: 992px) {
                        width: 17%;
                    }
                }
            }
        }
    }
    select {
        border: none;
        padding: 10px;
        border: none;
        border-radius: 5px;
        box-shadow: var(--input-shadow-1);
        transition: var(--transition-1);
        &:focus {
            box-shadow: var(--input-shadow-1-focus);
        }
        // Arrow Styling
        appearance: none;
        background-image:
                        linear-gradient(45deg, transparent 50%, black 50%),
                        linear-gradient(135deg, black 50%, transparent 50%);
        background-position:
                        calc(100% - 19px) calc(1em + 2px),
                        calc(100% - 15px) calc(1em + 2px),
                        calc(100% - .5em) .5em;
        background-size:
                    5px 5px,
                    5px 5px,
                    1.5em 1.5em;
        background-repeat: no-repeat;
    }
    button[type="submit"] {
        margin-top: 30px;
        padding: 9px 30px;
        color: white;
        background-color: var(--deep-saffron);
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: var(--transition-1);
        font-weight: bold;
        font-size: .9rem;
        &:hover {
            background-color: black;
        }
        @media (max-width: 600px) {
            width: 100%;
        }
    }
}
/* End Global Rules */

/* Start Animations */
@keyframes header-ani {
    from {
        top: -100%;
        background-color: white;
        color: black;
    } to {
        top: 0;
    }
}
@keyframes sale-shape {
    0%, 100% {
        transform: scale(1);
    } 50% {
        transform: scale(1.04);
    } 
}
@keyframes delivery-running {
    from {
        transform: translateX(-120%);
    } to {
        transform: translateX(700%);
    }
}
@keyframes success-operation {
    to {
        transform: translateX(150%)
    }
}
/* End Animations */

/* Start Header */
@include header();   
/* Start Header */

/* Start Landing */
.landing {
    height: 100vh;
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .text {
            max-width: 400px;
            text-align: center;
            h3 {
                font-family: var(--ff-shadows-into-light);
                font-weight: normal;
                font-size: 1.5rem;
                color: var(--dark-orange);
                margin-bottom: 30px;
            }
            h1 {
                color: var(--champagne-pink);
                font-size: 2.5rem;
                line-height: 1.3;
                padding: 0 30px;
            }
            p {
                color: var(--desert-sand);
                margin: 20px 0 30px;
            }
            a {
                width: fit-content;
                margin: 0 auto;
                background-color: var(--dark-orange);
                user-select: none;
                font-size: 1rem;
            }
            @include break-points(mobile) {
                h3 {
                    font-size: 1.2rem;
                    margin-bottom: 15px;
                }
                h1 {
                    font-size: 1.6rem;
                }
                p {
                    font-size: .9rem;
                }
            }
        }
        .banner {
            display: none;
        }
        @include break-points(medium) {
            justify-content: space-between;
            .text {
                width: 50%;
                text-align: start;
                h3 {
                    margin-bottom: 20px;
                }
                h1 {
                    font-size: 2.2rem;
                    padding: 0;
                }
                p {
                    font-size: 1.1rem;
                }
                a {
                    margin: 0;
                }
            }
            .banner{
                display: block;
                width: 50%;
                z-index: 1;
                .image {
                    transform: scale(1.5) translate(10%, 20px);
                }
            }
        }
        @include break-points(large) {
            .text {
                h1 {
                    font-size: 3rem;
                }
                p {
                    font-size: 1.2rem;
                } 
                a {
                    font-size: 1.1rem;
                }
            }
            .banner{
                .image {
                    transform: scale(1.3) translate(10%, 20px);
                }
            }
        }
    }
    .banner-shape {
        display: none;
        @include break-points(medium) {
            display: block;
            position: absolute;
            right: -30%;
            bottom: 0;
        }
        @include break-points(large) {
            right: -20%;
        }
        @include break-points(x-large) {
            right: -10%;
        }
    }
}
/* End Landing */

/* Start Promo */
.promo {
    background-color: var(--isabelline);
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 10px;
        .promo-item {
            background-color: white;
            text-align: center;
            padding: 40px 20px;
            box-shadow: 1px 2px 2px hsla(0, 0%, 0%, 0.1);
            position: relative;
            z-index: 1;
            overflow: hidden;
            svg path,h2,p{
                transition-delay: .18s;
            }
            h2 {
                color: black;
            }
            p {
                margin: 10px 0;
            }
            &::before {
                content: "";
                background-color:var(--deep-saffron);
                width: 100%;
                height: 35%;
                position: absolute;
                bottom: -50px;
                right: 0;
                z-index: -1;
                transform: skewY(-10deg);
                transition: var(--transition-2);
            }
            &:hover svg path {
                fill: #fff;
            }
            &:hover h2,
            &:hover p {
                color: white;
            }
            &:hover::before {
                height: 130%;
            }
        }
    }
}
/* End Promo */

/* Start About */
#about {
    position: relative;
    &::before {
        @include edge-shape("white");
        top: -15px;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        @include break-points(medium) {
            flex-direction: row;
        }
    }
    .image {
        flex-basis: 50%;
        position: relative;
        .red-sale-shape {
            width: 50%;
            position: absolute;
            top: -27%;
            left: -12%;
            z-index: 2;
            animation: sale-shape 2s infinite;
            @media (max-width: 600px) {
                top: -25%;
                left: -4%;
            }
        }
    }
    .text {
        flex-basis: 50%;
        text-align: center;
        @include break-points(medium) {
            text-align: left;
        } 
        h1 {
            color: black;
            font-size: 2rem;
            padding-right: 50px;
            @include break-points(large) {
                font-size: 2.5rem;
            }
            span {
                color: var(--deep-saffron);
            }
        }
        p {
            margin: 20px 0;
        }
        ul {
            li {
                color: black;
                font-weight: 500;
                margin-bottom: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                @include break-points(medium){
                    justify-content: unset;
                }
                i {
                    color: var(--deep-saffron);
                    margin-right: 10px;
                    font-size: 1.2rem;
                }
            }
        }
        a {
            width: fit-content;
            margin: 25px auto 0;
            @include break-points(medium) {
                margin: 25px 0 0;
            }
        }
        @include break-points(mobile) {
            h1 {
                padding: 0;
                font-size: 1.7rem;
            }
            i {
                font-size: 1rem;
            }
        }
    }
}
/* End About */

/* Start Popular Dishes */
.popular-dishes {
    background-color: var(--isabelline);
    position: relative;
    &::before {
        @include edge-shape("gray");
        top: -15px;
    }
    &::after {
        @include edge-shape("gray");
        bottom: -15px;
        transform: scaleY(-1);
    }
    .container {
        text-align: center;
        .items {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 20px;
            .item {
                background-color: white;
                padding: 40px 30px;
                border-radius: 7px;
                box-shadow: var(--shadow-2);
                .image {
                    width: 100%;
                    position: relative;
                    .offer {
                        background-color: var(--cinnabar);
                        color: white;
                        font-weight: bold;
                        font-size: .8rem;
                        text-align: left !important;
                        width: 38px;
                        height: 25px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 5px;
                        margin-bottom: 25px;
                    }
                    img {
                        width: 100%;
                        height: 250px;
                        border-radius: 7px;
                        @media (min-width: 351px) and (max-width: 650px) {
                            height: 300px;
                        }
                    }
                    .order {
                        color: white;
                        background-color: var(--deep-saffron);
                        font-weight: bold;
                        padding: 5px 15px;
                        border-radius: 5px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, calc(-30% + 25px));
                        opacity: 0;
                        transition: var(--transition-2);
                        &:hover {
                            background-color: var(--cinnabar);
                        }
                        @media (max-width: 350px) {
                            font-size: .9rem;
                        }
                    }
                }
                .cat {
                    font-weight: bold;
                    margin: 10px 0 5px;
                }
                h2 {
                    color: black;
                }
                .price {
                    color: var(--cinnabar);
                    font-weight: bold;
                    span {
                        color: var(--deep-saffron);
                    }
                    strike {
                        color: var(--gray-x-11-gray);
                    }
                }
                &:hover .order{
                    transform: translate(-50%, calc(-50% + 25px));
                    opacity: 1;
                }
            }
        }
        .main-btn {
            width: fit-content;
            margin: 20px 0 0;
            @include break-points(small) {
                margin: 20px auto 0;
            }
        }
    }
}
/* End Popular Dishes */

/* Start Cta */
.cta {
    padding-bottom: 0;
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 60px;
        text-align: center;
        .text {
            width: 80%;
            margin: 0 auto;
            h1 {
                color: white;
                font-size: 2rem;
                span {
                    color: var(--deep-saffron);
                }
            }
            p {
                color: var(--champagne-pink);
                margin-top: 25px;
            }
            .main-btn {
                width: fit-content;
                margin: 20px auto;
            }
            @include break-points(mobile) {
                width: 100%;
                h1 {
                    font-size: 1.8rem;
                }
                p {
                    font-size: .9rem;
                }
                .main-btn {
                    font-size: .9rem;
                }
            }
        }
        .image {
            width: 80%;
            margin: 0 auto;
            position: relative;
            .white-sale-shape {
                width: 40%;
                position: absolute;
                top: -35%;
                left: -10%;
                z-index: 5;
                animation: sale-shape 2s infinite;
                @media (min-width: 700px) and (max-width: 992px){
                    top: -30%;
                    left: -15%;
                }
                @include break-points(large) {
                    top: -20%;
                    left: -20%;
                }
                @include break-points(x-large) {
                    top: -18%;
                }
            }
            img {
                transform: scale(1.3);
            }
        }
        @include break-points(medium) {
            flex-direction: row;
            gap: 0;
            align-items: center;
            text-align: left;
            .main-btn {
                margin: 20px 0 !important; 
            }
        }
    }
}
/* End Cta */

/* Start Delivery */
.delivery {
    position: relative;
    &::before {
        @include edge-shape("white");
        top: -15px;
    }
    &::after {
        @include edge-shape("white");
        bottom: -15px;
        transform: scaleY(-1);
    }
    .container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .text {
            flex-basis: 50%;
            width: 80%;
            margin: 0 auto;
            text-align: center;
            @include break-points(mobile) {
                width: 100%;
            }
            h1 {
                color: black;
                font-size: 1.8rem;
                span {
                    color: var(--deep-saffron);
                }
            }
            .main-btn {
                width: fit-content;
                margin: 30px auto 0;
            }
        }
        .image {
            background-image: url(../images/delivery-banner-bg.png);
            background-size: cover;
            flex-basis: 50%;
            text-align: center;
            img {
                width: 80%;
            }
        }
        @include break-points(medium) {
            flex-direction: row;
            gap: 50px;
            align-items: center;
            .text {
                text-align: left;
                .main-btn {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }
}
/* End Delivery */

/* Start Blog */
.blogs {
    background-color: var(--isabelline);
    position: relative;
    &::before {
        @include edge-shape("gray");
        top: -15px;
    }
    .container {
        .blogs-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 20px;
            .blog {
                background-color: white;
                color: black;
                padding-bottom: 20px;
                border-radius: 7px;
                box-shadow: var(--shadow-2);
                .image {
                    width: 100%;
                    position: relative;
                    .cat {
                        background-color: var(--deep-saffron);
                        color: white;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: .8rem;
                        padding: 3px 8px;
                        border-radius: 5px;
                        position: absolute;
                        right: 10px;
                        top: 10px;
                    }
                    img {
                        border-top-left-radius: 7px;
                        border-top-right-radius: 7px;
                        width: 100%;
                        height: 250px;
                        @media (min-width: 351px) and (max-width: 650px) {
                            height: 300px;
                        }
                    }
                }
                .content {
                    padding: 15px 30px;
                    .blog-info {
                        display: flex;
                        gap: 20px;
                        p {
                            font-weight: 500;
                            font-size: .7rem;
                            text-transform: uppercase;
                            i {
                                color: var(--deep-saffron);
                                margin-right: 10px;
                            }
                        }
                    }
                    .text {
                        margin-top: 10px;
                        .title {
                            font-weight: bold;
                            font-size: 1.1rem;
                            &:hover {
                                text-decoration: underline;
                            }
                        }   
                        p {
                            margin: 10px 0 15px;
                            color: var(--gray-x-11-gray);
                            line-height: 1.5;
                        }
                    }
                    .read-more {
                        font-weight: 500;
                        font-size: .8rem;
                        i {
                            margin-left: 5px;
                            transition: var(--transition-2);
                        }
                        &:hover {
                            text-decoration: underline;
                            & i {
                                transform: translateX(2px);
                            }
                        }
                    }
                }
            }
        }
        .main-btn {
            width: fit-content;
            margin: 20px 0 0;
            @include break-points(small) {
                margin: 20px auto 0;
            }
        }
    }
}
/* End Blog */

/* Start Menu */
.menu {
    background-color: var(--isabelline);
    .container {
        text-align: center;
        .filter {
            display: flex;
            justify-content: center;
            color: black;
            font-weight: 500;
            margin-bottom: 20px;
            li {
                padding: 8px;
                cursor: pointer;
                transition: var(--transition-1);
                &:hover {
                    background-color: var(--deep-saffron);
                    opacity: .8;
                    color: white;
                }
                @include break-points("medium") {
                    padding: 10px 20px;
                }
            }
        }
        .items {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
            gap: 20px;
            .item {
                background-color: white;
                padding: 40px 30px;
                border-radius: 7px;
                box-shadow: var(--shadow-2);

                .image {
                    width: 100%;
                    position: relative;

                    .offer {
                        background-color: var(--cinnabar);
                        color: white;
                        font-weight: bold;
                        font-size: .8rem;
                        text-align: left !important;
                        width: 38px;
                        height: 25px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 5px;
                        margin-bottom: 25px;
                    }

                    img {
                        width: 100%;
                        height: 250px;
                        border-radius: 7px;

                        @media (min-width: 351px) and (max-width: 650px) {
                            height: 300px;
                        }
                    }

                    .order {
                        color: white;
                        background-color: var(--deep-saffron);
                        font-weight: bold;
                        padding: 5px 15px;
                        border-radius: 5px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, calc(-30% + 25px));
                        opacity: 0;
                        transition: var(--transition-2);

                        &:hover {
                            background-color: var(--cinnabar);
                        }

                        @media (max-width: 350px) {
                            font-size: .9rem;
                        }
                    }
                }

                .cat {
                    font-weight: bold;
                    margin: 10px 0 5px;
                    text-transform: capitalize;
                }

                h2 {
                    color: black;
                }

                .price {
                    color: var(--cinnabar);
                    font-weight: bold;

                    span {
                        color: var(--deep-saffron);
                    }

                    strike {
                        color: var(--gray-x-11-gray);
                    }
                }

                &:hover .order {
                    transform: translate(-50%, calc(-50% + 25px));
                    opacity: 1;
                }
            }
        }

        .main-btn {
            width: fit-content;
            margin: 20px 0 0;

            @include break-points(small) {
                margin: 20px auto 0;
            }
        }
    }
}
.active-li {
    background-color: var(--deep-saffron);
    color: white;
    cursor: auto !important;
}
/* End Menu */

/* Start Blog Details Page */
.blog-details {
    .content {
        margin-top: 20px;
        h1,h2 {
            color: black;
            margin-bottom: 10px;
        }
        .title {
            text-align: center;
            margin-bottom: 30px;
            font-size: 1.8rem;
        }
        & > div {
            margin-bottom: 20px;
            dt {
                color: black;
                font-weight: 500;
            }
            dd  {
                margin: revert;
                &:not(:last-child) {
                    margin-bottom: 5px
                }
            }
        }
        .blog-info {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            @include break-points(medium) {
                flex-direction: row;
                gap: 20px;
            }
            font-weight: 500;
            text-transform: capitalize;
            color: black;
            span {
                font-weight: normal;
            }
        }
    }
}
/* End Blog Details Page */

/* Start Order Page */
.order,
.reservation,
.contact {
    background-color: var(--isabelline);
    .container {
        @include break-points(large) {
            width: 50%;
            margin: 0 auto;
        }
        .head {
            font-size: 2.2rem;
        }
    }
} 
.reservation,
.contact {
    button[type="submit"] {
        margin-top: 15px;
    }
    textarea { 
        padding: 10px;
        border: none;
        border-radius: 5px;
        box-shadow: var(--input-shadow-1);
        transition: var(--transition-1);
        &:focus {
            box-shadow: var(--input-shadow-1-focus);
        }
    }
}
/* End Order Page */ 

/* Start Not Found Page */
.not-found-page {
    background-color: var(--isabelline);
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 50px 20px;
    h1 {
        font-size: 7rem;
        color: var(--gray-x-11-gray);
    }
    h3 {
        font-weight: normal;
        text-align: center;
    }
    a {
        margin-top: 20px;
        border-radius: 5px;
    }
}
/* End Not Found Page */

/* Start Footer */
@include footer();
/* End Footer */